
a {
  color: #00B7FF;
}



/*jaxload*/
.postit{
	background-color: yellow;
	height: 200px;
	width: 200px;
}


/****** items list */
body { 
background-color:   white}


.cardesign{
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  background-color:#66CDAA;
  /*position: relative;
  top: 10px;*/

}


.moo{
  position: relative;

  margin: auto;
}


.container {
  width: 430px;
  height: 280px;
  background-color:#FF4500;
  perspective: 800px;
  margin: 50px;
  padding: 15px;
  position: relative;
  border-radius: 10px;
  top:100px;
  left: 100px;
}


.card {
  width: 95%;
  height: 95%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


.card div {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  position: absolute; /*this flips on the same side*/
  backface-visibility: hidden;
}


.card .front {
  background-color: #EAECED;
  border-radius: 15px;

}

.card .back {
  background: #F1F2F3;
  transform: rotateY( 180deg );
  border-radius: 15px;
}


.sun {
  transform: rotateY( 180deg );
}

.moon {
  transform: rotateY(0deg );
}

/******end */



/*svg files*/

svg{
/*  background-color: #C0C0C0 ;
*/  position: absolute;
  top: 50px;
  left:0px;
}



/*buttonstyles*/

.buttonstyle {
  background-color: transparent;
  border-style: none;
  border-radius: 80px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  width: 40px;
  height: 40px;
  font-size: larger;
  cursor: pointer; 
  cursor: hand;
}

.buttonleft{
  position:absolute;
  left: 12px;
  top: 5px;
}

.buttonright{
  position:absolute;
  right: 12px;
  top: 5px;
}

.backbuttonstyle{
  position:absolute;
  right: 10px;
  top: 5px; 
}

/*spinning animation for the tape*/

@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}

.spininfinity {
  -webkit-animation: rotating 10s linear infinite;
}


