/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}



/*jaxload*/
/*.postit{
	background-color: yellow;
	height: 200px;
	width: 200px;
}*/


/******starts*/
body { 
background-color:   #FF6347}



.cardesign{
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  background-color:#66CDAA;

}

.container {
  width: 500px;
  height: 300px;
/*  border: 1px solid #ccc;
*/  background-color:#FF4500;
  perspective: 800px;
  margin: 10px;
  padding: 15px;
  position: relative;
}


.card {
  width: 95%;
  height: 95%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


.card div {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 40px;
  position: absolute; /*this flips on the same side*/
  backface-visibility: hidden;
}


.card .front {
  background-color: #303030;
  border-radius: 15px;

}

.card .back {
  background: #D9F3FF;
  transform: rotateY( 180deg );
  border-radius: 15px;
}


/*actions*/

.sun {
  transform: rotateY( 180deg );
}

.moon {
  transform: rotateY(0deg );
}

/******end */






