<!DOCTYPE html>
<html ng-app="ajs">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>

<body ng-controller="ajscontroller">
	<i> {{title}} </i> <br> <br>

	<input ng-model="itemInputBox.body"> 
	<input ng-model= "itemInputBox.tagline">
	<button ng-click="additem()" > Add </button> <br> <br>
  <hr>


<div ng-repeat="item in itemslist">
	<span ng-hide= "showdetails" >
		<p> First: {{item.body}} </p>
		<p> Second: {{item.tagline}} </p>

		<button ng-click="removeitem(item._id)" ng-disabled="highlightbutton && highlightbutton != '{{editdataid}}'"> Delete </button>

		<button ng-click="edititem(item._id); showdetails = !showdetails; highlight(item._id)" ng-disabled="highlightbutton && highlightbutton != '{{editdataid}}'"> Edit </button> 
	</span>

	<br> <br>

	<span>
		<input ng-show="showdetails"  ng-model="itemEditBox.body"> 
		<input ng-show="showdetails"  ng-model= "itemEditBox.tagline">
		<button ng-show="showdetails"  ng-click="update()"> Update </button> 
	</span> 
</div>

<script src="/javascripts/angular.js"> </script>
<script src="/javascripts/rough.js"> </script>
</body>
</html>


