<!DOCTYPE html>
<html ng-app= "ajs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Muzik</title>
		<link rel="stylesheet" href="../stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	</head>

	<body>
	<div ng-controller="ajscontroller">
		<!-- ************** navbar start************-->
		<div class="whitenavbar">
			<img class="muziklogo" src="../images/muziklogo.svg">

			<div class="feedbacks"> <a href="/posts"> <img class="pencilimage" src="../images/pencil.svg"></a> 
			</div> 

		  <div class="auotosearch">
				<input class="searchbox" placeholder="Search..." ng-model="searchboxterm.genres" ng-keypress="searchthis($event)" ng-click="autoform(); hide(); one();" ng-mouseleave="mouseleft($event)"> 
				<div class="dormantautos" ng-mousemove="mousemoveaction($event)" ng-mouseleave="mouseleft($event)"> <!--orange box here -->
		      <div ng-repeat="word in acb" class=" autowords"> <!-- bring auto words inside-->
		          {{word}} <hr>
		      </div>
		    </div>
		  </div>


			<div class = "addbox"> 
			  <span class="addbutton clickforadd" id= "clicktoslide" ng-click='showaddmodel()' ng-hide="hideone"> + </span>
			</div>  

			<button ng-click="showdef(); two()" class="backmain backbox" ng-hide="true" ng-show="showtwo"> <div class="backstyle">&#8592 </div> </button>
		</div>
	  <!-- ************** navbar end************-->


	  <!-- 	**************the modal popup starts************-->
		<!--  note:  added ngchange (ng-change="searchbox.postname = itemInputBox.body")and added another event for click in the same input box to look up for another item in another table in database. note this search feature commented out in angular since it is for anotehr controller. just experimenting stuff-->	
		<div class="modalbox" ng-show="showingaddmodel" >
			<div class="boxinmodal">
				<button class="modalbuttonstyle modalclosebutton" ng-click="hidemodal()"> X </button> 
				<div class="inputboxwrappers">	
					<label>Title</label> <br>
					<input class= "modalinputboxes inputboxsize" ng-model="itemInputBox.body" ng-change="searchbox.postname = itemInputBox.body" maxlength="20">
						<br>
					<label>Description</label> <br>
					<textarea class= "modalinputboxes inputboxsize" ng-model= "itemInputBox.tagline" maxlength="400"> </textarea>
					<br>
					<label>Genre</label> <br>
					<input class= "modalinputboxes inputboxsize" ng-model= "itemInputBox.genres" maxlength="20">
						<br>

	        <!-- <button class= "modalinputboxes ghostbutton" ng-click="additem(); searchme(); hidemodal();" > Add </button> <br> <br> -->

	        <button class= "modalinputboxes ghostbutton" ng-click="additem(); hidemodal()" >
						 Add </button> <br> <br>  
				</div>	
			</div>
		</div>
	  <!-- 	**************the modal popup ends************-->


	  <!-- 	***********slideshow + 3d animation start**************--> 

	  <i> {{title}} </i> <br> <br>
	  <div class= "slideimages"  ng-show="true" ng-hide="hidden">  <!-- this is the white background alsos for-->
			<div class = "shownandhide" > <!-- this is for hide and show functionality-->
			  <div class= "acontainer"> </div><!-- this has slide show images embeded within it -->
				<div class="moo">  <!-- these are flip cards  -->
				  <div ng-repeat="item in itemslist | orderBy: 'date':true | limitTo:6">
						<span ng-hide= "showdetails">
						  <div class="container" style="float:left;">
						    <div class="card" style="float:left;">
									<div class="front">

			              <!-- <div class= "albumartcss" ng-style="randalbumart()"> his is cool devs </div>  -->

		                <!--  <div class= "albumartcss" ng-class="{'background-image':item.alarw}"> this is cool devs </div> -->
		                <div class= "albumartcss" ng-style="{'background-image':item.alarw}"> </div> 
	                  <!-- <button ng-click="edititem(item._id); showdetails = !showdetails; highlight(item._id)" ng-disabled="highlightbutton && highlightbutton != '{{editdataid}}'"> Edit </button> -->


										<button ng-click="flipbutton($event)" class="htmlbut buttonstyle buttonleft">&#8592 </button> <span class="hover-flip"> Flip </span> 
										<button ng-click="removeitem(item._id)" ng-disabled="highlightbutton && highlightbutton != '{{editdataid}}'" class="buttonstyle buttonright" > &#8709 </button> <span class="hover-del"> Delete </span>


		                <div class="contentincard">
											<p>{{item.body}} </p> 
		                </div>
						        <svg xmlns="http://www.w3.org/2000/svg" height="245" width="438" >	
						        </svg>				
									</div> <!--/front -->

									<div class="back">
										<button ng-click="flipsback()" class="htmlbut buttonstyle backbuttonstyle "> &#8592 </button> 
						              
		                <div class="content-behind-card">

											<p class="item-description">{{item.tagline}} </p>
											<div ng-repeat="i in item.genres" class="item-genre" > 
					              {{i}}
					            </div >  <br>
					            <p class="item-date">{{item.date | date: 'fullDate'}} </p>     
									  </div> <!--/content-behind-card-->
								  </div> <!--/back -->
								</div> <!--/card -->
							</div> <!--/container-->
						</span>
					</div> <!--/item in itemslist-->
			  </div> <!--/moo -->
		  </div> <!--/shownandhide -->
	  </div> <!--/slideimages -->
	  <!-- 	***********slideshow + ed animation end ********-->


		<br> <br>
		<!-- <span>
		      <div ng-show="showdetails" class="cardesign">
							<input ng-show="showdetails"  ng-model="itemEditBox.body"> 
							<input ng-show="showdetails"  ng-model= "itemEditBox.tagline">
							<button ng-show="showdetails"  ng-click="update()"> Update </button> 
			</div>
		</span>  -->


		<!--    ********search result 
		<p> {{controllermessage}} </p>

	  <div ng-repeat="objarray in displayhtml">
			{{objarray}}
			<div ng-repeat="obj in objarray">
				{{obj.genres}}
			</div>
		</div> -->

		<div class = "resultwrapper" ng-hide="true" ng-show="searchresult"> 
		  <div class="forhidingandshow" > 
		    <div class="resultmoo">
					<div ng-repeat="objarray in displayhtml | orderBy: 'date':true | limitTo:9">
						<span ng-hide= "showdetails">
							<div class="container" style="float:left;">
						    <div class="card" style="float:left;">
									<div class="front">
									  <div class= "albumartcss" ng-style="{'background-image':objarray.alarw}"></div> 
										<button ng-click="flipbutton($event)" class="htmlbut buttonstyle buttonleft">&#8592 </button> 
										<!--  <button ng-click="removeitem(item._id)" ng-disabled="highlightbutton && highlightbutton != '{{editdataid}}'" class="buttonstyle buttonright"> &#8709 </button>  -->

		                <div class="contentincard ">
											<p> {{objarray.body}}</p> 
											<div ng-repeat="i in objarray.genres" class="item-genre-back"> 
				                {{i}}
				              </div>   
		                </div>

						        <svg xmlns="http://www.w3.org/2000/svg" height="245" width="438" >			
						        </svg>				
									</div> <!--/front -->

									<div class="back">
										<button ng-click="flipsback()" class="htmlbut buttonstyle backbuttonstyle "> &#8592 </button> 
										<p class = "item-description-back"> {{objarray.tagline}} </p>
										<p class="item-date-back">{{objarray.date | date: 'fullDate'}} </p> 
									</div> <!--/back -->
								</div> <!--/card -->
							</div> <!--/container-->
						</span>
					</div> <!--/item in itemslist-->
				</div> <!--/moo -->
			</div> <!--/forhidingandshow --> 
		</div> <!--/resultwrapper-->
	  <!--    ********search result  ends-->

	<script src="/javascripts/angular.js"> </script>

	<script src="/javascripts/rough.js"> </script>

	<script src="/javascripts/scrollme.js"> </script>

	</body>
</html>





