<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>
<body>
<% items.forEach( function(item) { %>
<p><%= item.body %></p>
</div>
<% }) %>
</body>
</html>